! fonts
URxvt*font:                 xft:DejaVu Sans Mono for Powerline:regular:size=10
URxvt*imFont:               xft:DejaVu Sans Mono for Powerline:regular:size=10
URxvt*boldFont:             xft:DejaVu Sans Mono for Powerline:bold:size=10
URxvt*italicFont:           xft:DejaVu Sans Mono for Powerline:italic:size=10
URxvt*boldItalicFont:       xft:DejaVu Sans Mono for Powerline:bold:italic:size=10

URxvt.clipboard.autocopy: true

URxvt.saveLines: 12000
URxvt.scrollstyle: plain
URxvt.pointerBlank: true
URxvt.cutchars: '`"&()*,;<=>?@[]^{|}:~'

Xcursor.theme: Human
! reduce font spacing
URxvt.letterSpace: -1

! clickable URLs
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/firefox
URxvt.matcher.button: 1


! Solarized color scheme for the X Window System
!
! http://ethanschoonover.com/solarized


! Common

#define S_yellow        #b58900
#define S_orange        #cb4b16
#define S_red           #dc322f
#define S_magenta       #d33682
#define S_violet        #6c71c4
#define S_blue          #268bd2
#define S_cyan          #2aa198
#define S_green         #859900


! Dark

#define S_base03        #002b36
#define S_base02        #073642
#define S_base01        #586e75
#define S_base00        #657b83
#define S_base0         #839496
#define S_base1         #93a1a1
#define S_base2         #eee8d5
#define S_base3         #fdf6e3

URxvt*background:              Black
URxvt*foreground:              S_base0
URxvt*cursorColor:             S_base1
URxvt*pointerColorBackground:  S_base01
URxvt*pointerColorForeground:  S_base1

URxvt*color0:                  S_base02
URxvt*color1:                  S_red
URxvt*color2:                  S_green
URxvt*color3:                  S_yellow
URxvt*color4:                  #425387
URxvt*color5:                  S_magenta
URxvt*color6:                  S_cyan
URxvt*color7:                  S_base2
URxvt*color9:                  S_orange
URxvt*color8:                  S_base03
URxvt*color10:                 #27a343
URxvt*color11:                 #d5a30e
URxvt*color12:                 #4a5a8d
URxvt*color13:                 S_violet
URxvt*color14:                 #12bccb
URxvt*color15:                 S_base3
